@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Body {
  display: flex;
  background-image: url("../../Fondo\ About\ Me\ \(1\).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.Contact {
  margin: 30px;
  padding: 20px;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  position: relative;
  overflow: hidden;
}

.Contact::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0; 
  background: rgba(182, 179, 179, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
  border: 1px solid rgba(182, 179, 179, 0.45);
}

.Contact .Info , .Image, .Form{
position: relative;
z-index: 1;
}




.Info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  color: #fff;
  gap: 10px;
}

.Title {
  font-size: 35px;
  text-align: center;
}

.ContactInfo {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Button {
  background: none;
  border: none;
  color: #fff;
  font-size: 15px;
  border-radius: 33px;
  padding: 15px;
  margin-top: 20px;
  background: rgba(7, 7, 7, 0.493);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  text-align: center;
}

.Form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1%;
  border-radius: 20px;
  background-color: rgba(0, 255, 255, 0.377);
  text-align: center;
}

.FormTitle {
  font-size: 35px;
  color: #fff;
}

.FormContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.Input {
  display: flex;
  gap: 10px;
}

input {
  background: none;
  border: none;
  border: 1px solid #ffffffa9;
  border-radius: 20px;
  padding: 20px;
  font-size: 15px;
  background-color: rgba(4, 59, 59, 0.63);
  color: #fff;
}

input::placeholder {
  color: #fff;
}

textarea {
  background: none;
  border: none;
  border: 1px solid #ffffffa9;
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;
  background-color: rgba(4, 59, 59, 0.63);
  color: #fff;
}

textarea::placeholder {
  color: #fff;
}

.Button2 {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  border-radius: 33px;
  padding: 5px;
  background: rgba(7, 7, 7, 0.493);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

.Image {
  align-self: flex-end;
  width: 250px;
  height: 250px;
}

@media (max-width: 1000px) {
  .Contact {
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    height: 100%;
  }

  .Body {
    height: 100%;
  }

  .ContactInfo {
    font-size: 15px;
    margin: 10px;
  }
  .Button {
    font-size: 16px;
    padding: 15px;
    width: fit-content;
    align-self: center;
    margin-bottom: 30px;
  }

  .Image {
  display: none;
  }

  .FormTitle {
    font-size: 20px;
  }

  input {
    font-size: 10px; 
  }

  .Input {
    justify-content: space-between;
    flex-direction: column;

  }

  textarea {
    font-size: 10px;
  }

  .Button2 {
    font-size: 15px;

  }

  .Title{
    padding: 20px 0;
  }
}
