* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Body {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.videoBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.mai {
  width: 53px;
  height: 53px;
  border-radius: 50%;
}

.container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 30px 20px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  height: 70px;
  font-size: 15px;
  gap: 30px;
  padding: 20px;

  position: relative;
  overflow: hidden;
}

.link::before,
.info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(182, 179, 179, 0.14);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(182, 179, 179, 0.45);
  border-radius: 45px;
  z-index: 0;
}

.Skills_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(182, 179, 179, 0.14);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(182, 179, 179, 0.45);
  z-index: 0;
}

.link a,
.info p,
.info img,
.skills_column p,
.skills_column img,
.skills_column span {
  position: relative;
  z-index: 1;
  text-decoration: none;
  font-weight: bold;
}

.skills_column img {
  background: rgba(182, 179, 179, 0.14);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(182, 179, 179, 0.45);
  padding: 5px;
  border-radius: 50%;
}

.link a {
  color: #fff;
  font-weight: 300;
}

.info {
  font-size: 15px;

  height: 70px;
  width: 70px;
  gap: 30px;

  font-size: 15px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.title {
  color: #ffffff;
  font-size: 35px;
  text-align: center;
  padding: 40px 0;
  font-weight: 300;
}

span {
  color: #00e5ff;
}

.skills_container {
  display: flex;
  justify-content: space-around;

  position: relative;
  overflow: hidden;
}

.skills_row {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills_column p {
  color: #fff;
}

.skills_column {
  text-align: center;
}

@media (max-width: 1000px) {
  .link {
    align-self: center;
    width: 300px;
    height: 60px;
    font-size: 10px;
    gap: 10px;
    padding: 10px;
  }

  .info {
    height: 63px;
    width: 63px;
  }

  .title {
    margin: 3px;
    font-size: 25px;
    padding: 0 0 50px 0;
  }

  .skills_container {
    flex-direction: column;
    gap: 30px;
    margin: 3px;
    font-size: 12px;
  }


  .skills_column p {
    font-size: 12px;
  }

  .skills_column img {
    width: 80px;
    height: 80px;
  }

  .skills_row {
    padding: 10px 0;
  }
}
